
*.log
*.tlog
*.manifest
*.obj
*.pdb
*.lastbuildstate
*.sdf
*.opensdf
EarthMatrixRibbon/amd64/Release_2D/RCa07004
EarthMatrixRibbon/amd64/Release_2D/RCa09348
*.pch
*.cache
*.unsuccessfulbuild
*.suo
*.res


