
*.log
*.tlog
*.manifest
*.obj
*.pdb
*.lastbuildstate
*.sdf
*.opensdf
EarthMatrixRibbon/amd64/Release_2D/RCa07004
EarthMatrixRibbon/amd64/Release_2D/RCa09348
*.pch
*.cache
*.unsuccessfulbuild
EarthMatrixRibbon/amd64/Release_2D/EarthMatrixRibbon.res
*.suo
*.suo
plugins/Survey/x64/Release_2D/Survey.res
EarthMatrixRibbon.suo
EarthMatrixRibbon.suo
